<footer class="site-footer h-card">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>
    <script type='text/javascript'>
        $(function () {
            $('a[rel=tipsy]').tipsy({ fade: true });
        });
    </script>
    <div class="wrapper">

        <div class="footer-col-wrapper">
            <div class="footer-col">
                <p class="feed-subscribe">
                    <a href="{{ site.feed.path | default: 'feed.xml' | absolute_url }}">
                        <svg class="svg-icon orange">
                            <use xlink:href="{{ 'assets/minima-social-icons.svg#rss' | relative_url }}"></use>
                        </svg><span>Subscribe</span>
                    </a>
                <div align="left">
                    <p>Copyright &copy; 2018-
                        <script language="JavaScript"
                            type="text/javascript">document.write((new Date()).getFullYear());</script> {{
                        site.title }}.
                    </p>
                </div>
                <div align="right">
                    thanks: <a href="https://evolution-host.com/">evolution-host.com</a>
                </div>
                </p>
            </div>
        </div>
    </div>

</footer>
