@font-face {
    font-family: 'Times';
    src: url('/assets/fonts/times.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TimesBD';
    src: url('/assets/fonts/timesbd.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TimesBI';
    src: url('/assets/fonts/timesbi.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'TimesI';
    src: url('/assets/fonts/timesi.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

body {
    font-family: 'Times', Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'TimesBD', Arial, sans-serif;
}

strong {
    font-family: 'TimesBD', Arial, sans-serif;
}

em {
    font-family: 'TimesI', Arial, sans-serif;
}

strong em, em strong {
    font-family: 'TimesBI', Arial, sans-serif;
}
s