@font-face {
    font-family: 'Times';
    src: url('/assets/fonts/times.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TimesBD';
    src: url('/assets/fonts/timesbd.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TimesBI';
    src: url('/assets/fonts/timesbi.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'TimesI';
    src: url('/assets/fonts/timesi.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Skrine Regular';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/fonts/Skrine.woff') format('woff');
}

body {
    font-family: 'Times', 'Skrine Regular', Arial, sans-serif;
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'TimesBD', Arial, sans-serif;
}


strong {
    font-family: 'TimesBD', Arial, sans-serif;
}

em {
    font-family: 'TimesI', Arial, sans-serif;
}

strong em, em strong {
    font-family: 'TimesBI', Arial, sans-serif;
}

/* 

@font-face {
    font-family: 'Adobe Garamond Pro Regular';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/fonts/AGaramondPro-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Adobe Garamond Pro Italic';
    font-style: italic;
    font-weight: normal;
    src: url('/assets/fonts/AGaramondPro-Italic.woff') format('woff');
}

@font-face {
    font-family: 'Adobe Garamond Pro Bold';
    font-style: normal;
    font-weight: bold;
    src: url('/assets/fonts/AGaramondPro-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Adobe Garamond Pro Bold Italic';
    font-style: italic;
    font-weight: bold;
    src: url('/assets/fonts/AGaramondPro-BoldItalic.woff') format('woff');
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Adobe Garamond Pro Bold Italic', sans-serif;
}

body {
    font-family: 'Adobe Garamond Pro Regular', serif;
}

em {
    font-family: 'Adobe Garamond Pro Italic', serif;
}

strong {
    font-family: 'Adobe Garamond Pro Bold', serif;
    // font-weight: 600;
}

strong em {
    font-family: 'Adobe Garamond Pro Bold Italic', serif;
}
 */


