.tooltip_templates {
    position: relative;
  }
  
  .tooltip_templates span {
    display:none;
    position:absolute;
    top:10px; /* 调整提示文本的垂直位置 */
    left:0;
    z-index:99;
    padding: 5px; /* 调整提示文本的内边距 */
    background:#fff;
    border:1px solid #ccc;
  }
  
  .tooltip:hover + .tooltip_templates span {
    display:block;
  }
  