.tooltipster-base {
  max-width: 200px;
  padding: 10px;
  background-color: #333;
  color: #fff;
}

.tooltipster-base::before {
  border-top-color: #333;
  top: -5px;
  /* 将箭头上移 */
  left: 5px;
  /* 将箭头向右移动 */
}

.post-content {
  margin-left: auto;
  margin-right: 0;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
}

td,
th {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 5px;
  text-align: center;
}

.container {
  max-width: 800px;
  margin: 0;
  padding: 20px;
  background-color: #fff;
  border-radius: 0;
  box-shadow: none;
  text-align: right;
  /*将容器内的内容向右对齐*/
}

.summary {
  width: 90%;
  display: inline-block;
  /*将元素设置为行内块级元素*/
  text-align: left;
  /*将文本内容向左对齐*/
}

.signature {
    font-family: 'Skrine Regular', sans-serif;
    font-size: 14px;
    color: #333; /* 设置签名颜色 */
}


