$font-family-sans-serif: times, sans-serif !default;
$font-weight-normal: normal !default;
$font-weight-bold: bold !default;
$font-style-normal: normal !default;
$font-style-italic: italic !default;
