---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <!-- {% if page.signature %}
        <div class="signature">{{ page.signature }}</div>
    {% endif %} -->
    <h1 class="post-title" itemprop="name headline" style="text-align:center">
      {{ page.title | escape }}
    </h1>
    <p class="post-meta" style="text-align:center">
      {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: date_format
        }}</time>
      {% if page.author %}
      • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author 
        }}</span></span>
      {% endif %}
    </p>
    {% seo %}
  </header>
  <style></style>

  {% if page.toc %}
  <div class="toc-container">
    <details>
      <summary><strong>Table of Contents</strong></summary>
      <div class="toc" id="toc"></div>
    </details>
    <br />
  </div>
  {% endif %}

  {% if page.summary %}
  <div class="container">
    <div class="summary">
      <b><i>Summary:</i></b><hr />
        <font color=""><small>{{ page.summary | html}}</small></font>
    </div>
    {% if page.scontent %}
    <div class="content">
      <font color=""><small>{{ page.scontent }}</small></font>
    </div>
    {% endif %}
  </div>
  <br />
  {% endif %}

  {% if page.notes %}
  <div class="container">
    <div class="summary">
      <b><i>Notes:</i></b><hr />
      <font color=""><small>{{ page.notes}}</small></font>
    </div>
    {% if page.ncontent %}
    <div class="content">
      {{ page.ncontent }}
    </div>
    {% endif %}
  </div>
  <br />
  {% endif %}

  <div class="post-container">
    <div class="post-content" itemprop="articleBody">
      {{ content }}
    </div>
    
    {% if page.margin_notes and page.margin_notes.size > 0 %}
    <div class="margin-notes">
      {% for note in page.margin_notes %}
        <b>{{ forloop.index }}</b> {{ note }}
      {% endfor %}
    </div>
    {% endif %}
  </div>
  
  <!-- mathjax -->
  {% if page.mathjax %}
  <script type="text/x-mathjax-config">MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});</script>
  <script type="text/javascript" async src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>
  {% endif %}
  <!-- Share -->
  <strong>Share:</strong>
  <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Facademic.jyunko.cn&t=" title="Share on Facebook"
    target="_blank"
    onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL) + '&t=' + encodeURIComponent(document.URL)); return false;">Facebook</a>
  |
  <a href="http://www.linkedin.com/shareArticle?mini=true&url=http%3A%2F%2Facademic.jyunko.cn&title=&summary=&source=http%3A%2F%2Facademic.jyunko.cn"
    target="_blank" title="Share on LinkedIn"
    onclick="window.open('http://www.linkedin.com/shareArticle?mini=true&url=' + encodeURIComponent(document.URL) + '&title=' +  encodeURIComponent(document.title)); return false;">LinkedIn</a>
  |
  <a href="http://pinterest.com/pin/create/button/?url=http%3A%2F%2Facademic.jyunko.cn&description=" target="_blank"
    title="Pin it"
    onclick="window.open('http://pinterest.com/pin/create/button/?url=' + encodeURIComponent(document.URL) + '&description=' +  encodeURIComponent(document.title)); return false;">Pinterest</a>
  |
  <a href="http://www.reddit.com/submit?url=http%3A%2F%2Facademic.jyunko.cn&title=" target="_blank"
    title="Submit to Reddit"
    onclick="window.open('http://www.reddit.com/submit?url=' + encodeURIComponent(document.URL) + '&title=' +  encodeURIComponent(document.title)); return false;">Reddit</a>
  |
  <a href="https://twitter.com/intent/tweet?source=http%3A%2F%2Facademic.jyunko.cn&text=:%20http%3A%2F%2Facademic.jyunko.cn&via=academic.jyunko.cn"
    target="_blank" title="Tweet"
    onclick="window.open('https://twitter.com/intent/tweet?text=' + encodeURIComponent(document.title) + ':%20'  + encodeURIComponent(document.URL)); return false;">Twitter</a>
  <br /><br />

  {% if site.disqus.shortname %}
  {% include disqus_comments.html %}
  {% endif %}

  <!-- Add jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <script type='text/javascript' src='/assets/js/jquery.tipsy.js'></script>
  <link rel="stylesheet" href="/assets/css/tipsy.css" type="text/css" />
  
  {% if page.toc %}
  <!-- Add TOC JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/tocbot/dist/tocbot.min.js"></script>
  <script>
    $(document).ready(function() {
      tocbot.init({
        tocSelector: '#toc',
        contentSelector: '.post-content',
        headingSelector: 'h1, h2, h3, h4, h5, h6',
        collapseDepth: 3,
        scrollSmooth: true,
      });
    });
  </script>
  {% endif %}
</article>
