{% assign headers = content | scan_regex_with_title('(?m)^#+\s+(.*)$') %}
{% assign level = 0 %}
<ol class="TOC">
    {% for header in headers %}
    {% assign header_level = header[0] | size %}
    {% if header_level > level %}
    {% assign depth = header_level - level %}
    {% for i in (1..depth) %}<ol>{% endfor %}
        {% elsif header_level < level %} {% assign depth=level - header_level %} {% for i in (1..depth) %}</ol>{% endfor
            %}
            {% else %}
            </li>
            {% endif %}
            <li><a href="#{{ header[1] | slugify }}">{{ header[0] }}</a>
                {% assign level = header_level %}
                {% endfor %}
                {% assign depth = level %}
                {% for i in (1..depth) %}</ol>{% endfor %}
</ol>